.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(90deg, #ff006e, #00f5ff, #F59E0B, #14B8A6);
  transform-origin: 0%;
  z-index: 10001;
}
